.path1{
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
}

.drawPath1{
    stroke-dashoffset: 40;
    stroke-dasharray: 1000;
}



.path2{
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
}

.drawPath2{
    stroke-dashoffset: 40;
    stroke-dasharray: 1000;
}





.path3{
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
}

.drawPath3{
    stroke-dashoffset: 40;
    stroke-dasharray: 1000;
}






